# Day 3-4: Functions 2

In [ ]:
def product(a, b, c, d):
    return a * b * c * d

product(2,3,4,5)

In [ ]:
def product(*args):
    result = 1
    for num in args:
        result *= num
    return result
    
print(product(1,2,3,4,4,5,6,43,8,6,74,2,32,0))

**kwargs

positional arguments

keyword arguments

In [ ]:
def product(a, d, b, *args, c=7):
    print(args)
    return a * b * c * d

product(2, 5, 8, 9, 9, 10, b=0)

In [ ]:
def product(a, d, b, *args, c=7):
    print(args)
    return a * b * c * d

product(2, 5, 8, 9, 9, 10, b=0)

In [ ]:
def product(**kwargs):
    return kwargs['b'] * kwargs['a']

product(a=2, b=5, c=6)

In [ ]:
def my_function(a, b, c, *args, x=5, y=6, **kwargs):
    return a, b, c, args, x, y, kwargs

print(my_function(2, 4, 5))
print(my_function(2, 4, 5, 8, 9, x=7, z=9))
print(my_function(2, 4, 5, 8, 9, z=9, y=5, x=1))

## Recursive Function

In [ ]:
def kanplu():
    print('Namo')
    return kanplu()

Factorial (!)

$n!=n \times (n-1) \times (n-2) \times ... \times 2 \times 1$

$n! = n \times (n-1)!$

factorial(n) = n * factorial(n-1)

In [ ]:
def factorial(n):
    assert isinstance(n , int), 'บ้าหรือเปล่า ใส่จำนวนเต็มสิโว้ย'
    assert n > 0, 'ไม่ดีเลยนะ ใส่ตัวที่มากกว่า 0 หน่อยสิ'
    if n == 1 or n == 0:
        return 1
    return n * factorial(n-1)

print(factorial(1000))

### Fibonacci sequence

1,1,2,3,5,8,13,21,34,55,89,...

$Fibo(n) = Fibo(n-1) + Fibo (n-2)$

$Fibo(1)=Fibo(2)=1$

In [ ]:
def fibo(n):
    if n == 1 or n == 2:
        return 1
    return fibo(n-1) + fibo(n-2)
"""
fibo(1) = 1
fibo(2) = 1
fibo(7) = 13
"""
print(fibo(40))

Dynamic Programming

In [1]:
def fibo(n):
    dp = [0 for _ in range(n)]
    dp[0] = 1
    dp[1] = 1
    # [1, 1, 0 ,0 ,0 ,0, 0, 0, 0 ,0, 0, ...]
    for idx in range(2, n):
        dp[idx] = dp[idx-1] + dp[idx-2]
    
    return dp[-1]
    
fibo(1000)

43466557686937456435688527675040625802564660517371780402481729089536555417949051890403879840079255169295922593080322634775209689623239873322471161642996440906533187938298969649928516003704476137795166849228875

Write a function `boxed` which takes a string and two arguments: a symbol `fill` and a number
`pad`. A result of the `boxed` function execution should be a string surrounded by `fill` symbols as
it’s shown in the example.

```python
print(boxed("Hello world", fill="*", pad=2))
print(boxed("Fishy", fill="#", pad=1))
```

result:

```md
*****************
** Hello world **
*****************

#########
# Fishy #
#########
```

'**********'

In [28]:
def boxed(s, fill, pad):
    result = ''
    nums_first_line = pad * 2 + 2 + len(s)
    result += fill * nums_first_line
    result += '\n'
    # second line
    result += fill * pad + ' ' + s + ' ' + fill * pad
    result += '\n'
    
    # third line
    result += fill * nums_first_line
    return result

print(boxed('Namo loves P\'Ve', fill='❤︎', pad=4))

❤︎❤︎❤︎❤︎❤︎❤︎❤︎❤︎❤︎❤︎❤︎❤︎❤︎❤︎❤︎❤︎❤︎❤︎❤︎❤︎❤︎❤︎❤︎❤︎❤︎
❤︎❤︎❤︎❤︎ Namo loves P'Ve ❤︎❤︎❤︎❤︎
❤︎❤︎❤︎❤︎❤︎❤︎❤︎❤︎❤︎❤︎❤︎❤︎❤︎❤︎❤︎❤︎❤︎❤︎❤︎❤︎❤︎❤︎❤︎❤︎❤︎

## Function Class work

หารร่วมมาก (ห.ร.ม.)

$gcd(6,4)=2$

$gcd(60,40)=20$

$gcd(18,24)=6$

$gcd(18,24)=x$

Find $max(x)$

In [ ]:
def find_gcd(x, y): 
    d = max(x, y)
    for i in range(d, 0, -1):
        if x % i == 0 and y % i == 0:
            return i

In [33]:
print(find_gcd(24, 1))

1

In [ ]:
def find_gcd_v2(x, y): # 16, 24
    d = min(x, y)
    for i in range(d, 0, -1):
        if x % i == 0 and y % i == 0:
            return i

gcd(18, 24) 

$24 = 18(1) + 6$

$18 = 6(3) + 0$

---

gcd(36,14)

$36 = 14(2) + 8$

$14 = 8(1) + 6$

$8 = 6(1) + 2$

$6 = 2(3) + 0$

In [ ]:
def find_gcd_eucliean(x, y):
    while y != 0:
        temp = y
        y = x % y
        x = temp
    return x

def find_gcd_eucliean_v2(x, y):
    while y != 0:
        x, y = y, x % y
    return x

In [63]:
print(find_gcd_eucliean_v2(18,24))

6

lcm

$lcm(16,24)=48$

$lcm(16,24)\neq96$

In [35]:
def find_lcm(x, y): # 197, 243
    d = 1
    while d % x != 0 or d % y != 0:
        d += 1
    return d

find_lcm(197, 911)

179467

In [36]:
def find_lcm_v2(x, y): # 197, 911
    d = max(x, y)
    while d % x != 0 or d % y != 0:
        d += 1
    return d

find_lcm(197, 911)

179467

In [39]:
def find_lcm_v3(x, y): # 197, 911
    d = max(x, y)
    while d % x != 0 or d % y != 0:
        d += max(x, y)
    return d

find_lcm(19752, 911)

17994072

$gcd(x,y) \times lcm(x,y) = xy$

$gcd(18,24) \times lcm(18,24) = 18 \times 24$

$6 \times 72 = 18 \times 24$

$lcm(x,y) = \frac{xy}{gcd(x,y)}$

In [ ]:
def find_lcm_v4(x, y): # 197, 911
    return x * y // find_gcd_eucliean_v2(x,y)

find_lcm_v4(19752, 911)

17994072

In [75]:
from time import time
t1 = time()
# find_lcm(19752, 91151)
t2 = time()
# find_lcm_v2(19752, 91151)
t3 = time()
find_lcm_v3(1975213450121111, 91241511)
t4 = time()
find_lcm_v4(1975213450121111, 91241511)
t5 = time()

print(t5-t4, t4-t3, t3-t2, t2-t1)

8.320808410644531e-05 23.89257001876831 2.8133392333984375e-05 2.574920654296875e-05

$80 \mu s$

In [76]:
23.89/8.3e-5

287831.3253012048

## Annonymous Function

lambda function

Syntax:
`lambda input: output`

In [ ]:
lambda x: x ** 2

def square(x):
    return x ** 2

SyntaxError: invalid syntax (1495556658.py, line 2)

สิ่งที่ทำในบล็อคนี้เป็นสิ่งที่ไม่โอเค lamda ควรใช้ครั้งเดียว

In [84]:
f1 = lambda x,y: (x ** 2 + y ** 2) ** (0.5)
f1(5, 6)
f2 = lambda x: x[0]
f2([1,4,5])

1

### map()

list(map(int, input().split()))

In [87]:
list(map(str, [1.5, 2.5, 3.5]))

['1.5', '2.5', '3.5']

In [ ]:
def square(x):
    return x ** 2

print(list(map(square, [1, 2, 3, 4, 5, 1.5])))
print(list(map(lambda x: x ** 2, [1, 2, 3, 4, 5, 1.5])))

[1, 4, 9, 16, 25, 2.25]
[1, 4, 9, 16, 25, 2.25]

In [97]:
l = [2, 5, 1]
l.sort(reverse=True)
l

[5, 2, 1]

In [106]:
def key_to_sort(x):
    return x[2] 
l = [('K', 6, -1), ('V', 2, 4), ('A', 4, 20)]
# l.sort(reverse=True, key=lambda x: x[2])
l.sort(reverse=True, key=key_to_sort)
l

[('A', 4, 20), ('V', 2, 4), ('K', 6, -1)]

input: 

1 2 4 6 7

5

In [113]:
l = list(map(int, input().split()))

In [114]:
l

[1, 2, 4, 6, 7]

### Literal Typing

In [120]:
def distance(x: int, y: int, s: str) -> str:
    assert isinstance(x, int), 'พ่อคุณเสียชีวิต'
    print(s)
    return x ** 2 + y ** 2

In [3]:
def do_something(s: str = 'abc') -> str:
    """
    do_something
    
    args:
        s (str)
            A string to do something
            
    fdj
    """
    return s.upper()

do_something()

'ABC'

In [ ]:
do_